.title {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    display: flex;
    background-color: blue;
}

.card-container {
    background-color: black;
}
